/*reset style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body, .wrapper {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol li, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body, .graphics__price {
  font-family: 'Nunito', sans-serif;
}

.tit-h1, .tit-h2, .tit-h3, .tit-h4, .tit-h5, .tit-h6, .graphics__status {
  font-family: 'Roboto', sans-serif;
}

/*font style*/
@font-face {
  font-family: "name";
  src: url("../source/fonts/monserrat/Montserrat-Black.ttf");
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: 'iconsPack';
  src: url("../fonts/icon/iconsPack.ttf?qis7no") format("truetype"), url("../fonts/icon/iconsPack.woff?qis7no") format("woff"), url("../fonts/icon/iconsPack.svg?qis7no#iconsPack") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsPack' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arr:before {
  content: "\e900";
  color: #515151;
}

.ico-cube:before {
  content: "\e901";
}

.ico-calendar:before {
  content: "\e902";
}

.ico-chek:before {
  content: "\e903";
}

.ico-book:before {
  content: "\e904";
}

.ico-letter:before {
  content: "\e905";
}

.ico-settings:before {
  content: "\e906";
}

.ico-search:before {
  content: "\e907";
}

.ico-bell:before {
  content: "\e908";
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BlackItalic.eot");
  src: local("Roboto Black Italic"), local("../fonts/Roboto-BlackItalic"), url("../fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("../fonts/Roboto-Bold"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BoldItalic.eot");
  src: local("Roboto Bold Italic"), local("../fonts/Roboto-BoldItalic"), url("../fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.eot");
  src: local("Roboto Light Italic"), local("../fonts/Roboto-LightItalic"), url("../fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("../fonts/Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-ThinItalic.eot");
  src: local("Roboto Thin Italic"), local("../fonts/Roboto-ThinItalic"), url("../fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.eot");
  src: local("Roboto Black"), local("../fonts/Roboto-Black"), url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-MediumItalic.eot");
  src: local("Roboto Medium Italic"), local("../fonts/Roboto-MediumItalic"), url("../fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("../fonts/Roboto-Thin"), url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("../fonts/Roboto-Light"), url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.eot");
  src: local("Roboto Italic"), local("../fonts/Roboto-Italic"), url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("../fonts/Roboto-Medium"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Light.eot");
  src: local("Nunito Light"), local("../fonts/Nunito-Light"), url("../fonts/Nunito-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Light.woff2") format("woff2"), url("../fonts/Nunito-Light.woff") format("woff"), url("../fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-ExtraLight.eot");
  src: local("Nunito ExtraLight"), local("../fonts/Nunito-ExtraLight"), url("../fonts/Nunito-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraLight.woff2") format("woff2"), url("../fonts/Nunito-ExtraLight.woff") format("woff"), url("../fonts/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-BlackItalic.eot");
  src: local("Nunito Black Italic"), local("../fonts/Nunito-BlackItalic"), url("../fonts/Nunito-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-BlackItalic.woff2") format("woff2"), url("../fonts/Nunito-BlackItalic.woff") format("woff"), url("../fonts/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-SemiBold.eot");
  src: local("Nunito SemiBold"), local("../fonts/Nunito-SemiBold"), url("../fonts/Nunito-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-ExtraLightItalic.eot");
  src: local("Nunito ExtraLight Italic"), local("../fonts/Nunito-ExtraLightItalic"), url("../fonts/Nunito-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Nunito-ExtraLightItalic.woff") format("woff"), url("../fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.eot");
  src: local("Nunito Regular"), local("../fonts/Nunito-Regular"), url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Black.eot");
  src: local("Nunito Black"), local("../fonts/Nunito-Black"), url("../fonts/Nunito-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Black.woff2") format("woff2"), url("../fonts/Nunito-Black.woff") format("woff"), url("../fonts/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Italic.eot");
  src: local("Nunito Italic"), local("../fonts/Nunito-Italic"), url("../fonts/Nunito-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Italic.woff2") format("woff2"), url("../fonts/Nunito-Italic.woff") format("woff"), url("../fonts/Nunito-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-ExtraBold.eot");
  src: local("Nunito ExtraBold"), local("../fonts/Nunito-ExtraBold"), url("../fonts/Nunito-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraBold.woff2") format("woff2"), url("../fonts/Nunito-ExtraBold.woff") format("woff"), url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-SemiBoldItalic.eot");
  src: local("Nunito SemiBold Italic"), local("../fonts/Nunito-SemiBoldItalic"), url("../fonts/Nunito-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Nunito-SemiBoldItalic.woff") format("woff"), url("../fonts/Nunito-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-LightItalic.eot");
  src: local("Nunito Light Italic"), local("../fonts/Nunito-LightItalic"), url("../fonts/Nunito-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-LightItalic.woff2") format("woff2"), url("../fonts/Nunito-LightItalic.woff") format("woff"), url("../fonts/Nunito-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-ExtraBoldItalic.eot");
  src: local("Nunito ExtraBold Italic"), local("../fonts/Nunito-ExtraBoldItalic"), url("../fonts/Nunito-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Nunito-ExtraBoldItalic.woff") format("woff"), url("../fonts/Nunito-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-BoldItalic.eot");
  src: local("Nunito Bold Italic"), local("../fonts/Nunito-BoldItalic"), url("../fonts/Nunito-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-BoldItalic.woff2") format("woff2"), url("../fonts/Nunito-BoldItalic.woff") format("woff"), url("../fonts/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Bold.eot");
  src: local("Nunito Bold"), local("../fonts/Nunito-Bold"), url("../fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*--global style--*/
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-size: 21px;
}

.tit-h1, .tit-h2, .tit-h3, .tit-h4, .tit-h5, .tit-h6 {
  font-size: 28px;
  color: #000;
}

.tit-h2 {
  font-size: 21px;
}

.tit-h3 {
  font-size: 18px;
  font-weight: 400;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: padd_topbott padd_lefrig;
  font-size: f_siz;
  color: _color;
  background: b_g;
  border-radius: border_raduis;
  font-weight: f_wei;
  -webkit-transition: color, background-color .150s, .150s;
  transition: color, background-color .150s, .150s;
}

.btn:hover {
  background: bg_hov;
  color: color_hov;
}

.btn.active {
  background: bg_hov;
  color: color_hov;
  -webkit-transition: color, background-color .150s, .150s;
  transition: color, background-color .150s, .150s;
}

.btn.active:hover {
  color: _color;
  background: b_g;
  -webkit-transition: color, background-color .150s, .150s;
  transition: color, background-color .150s, .150s;
}

.range {
  width: 100%;
  height: 8px;
  background: #d9d9d9e1;
  border-radius: 10px;
}

.range span {
  background: #00CAFF;
  display: block;
  height: 100%;
  border-radius: 10px;
}

.wrapper {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(120px, 1fr) 20fr;
      grid-template-columns: minmax(120px, 1fr) 20fr;
  -ms-grid-rows: minmax(60px, 1fr) 20fr;
      grid-template-rows: minmax(60px, 1fr) 20fr;
      grid-template-areas: 'header header' 'aside main';
  -webkit-transition: .2s;
  transition: .2s;
}

.wrapper.aside-hidden {
      grid-template-areas: 'header header' 'main main';
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  padding: 0 30px 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside__burger {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.aside__burger span, .aside__burger::before, .aside__burger::after {
  border-radius: 100px;
  height: 3px;
  background: #000;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.aside__burger span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 50%;
}

.aside__burger::before {
  content: '';
  position: absolute;
  top: 0;
  -webkit-transition: .1s;
  transition: .1s;
}

.aside__burger::after {
  content: '';
  position: absolute;
  bottom: 0;
  -webkit-transition: .1s;
  transition: .1s;
  width: 100%;
}

.aside__burger.bg-active::before, .aside__burger.bg-active::after {
  width: 30px;
}

.aside__burger.bg-active::before {
  width: 100%;
}

.aside__burger.bg-active::after {
  width: 25%;
}

.aside__burger.bg-active span {
  width: 50%;
}

.main {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transition: width .1s;
  transition: width .1s;
  padding: 31px;
  background: rgba(204, 204, 204, 0.25);
  overflow: auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.main .block {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(155.62%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 155.62%);
  padding: 30px;
  border-radius: 23px;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 15px;
}

.section__title {
  display: block;
  width: 100%;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.blocks .block.width_100 {
  width: 100%;
}

.blocks .block.width_50 {
  width: 49%;
}

.blocks .block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  border-radius: 10px;
  background: #fff;
  padding: 9px;
}

.blocks .block__item .block-info {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 11px;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blocks .block__item .block-info .tit-h3 {
  font-weight: 500;
}

.blocks .block__item .block-info .block__price {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.blocks .block__img {
  min-width: 85px;
  max-width: 85px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(204, 204, 204, 0.1);
  border-radius: 10px;
}

.blocks .block__img img {
  width: 50%;
  height: auto;
}

.aside {
  width: auto;
  position: relative;
  left: 0;
  -webkit-transition: .1s;
  transition: .1s;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
}

.aside .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside .nav a {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px 0 30px 50px;
}

.aside .nav a i {
  color: #cccccc;
  font-size: 25px;
}

.aside .nav a:hover, .aside .nav a.active {
  -webkit-transition: .1s;
  transition: .1s;
  background: rgba(143, 0, 255, 0.2);
}

.aside .nav a:hover i, .aside .nav a.active i {
  color: #8F00FF;
}

.aside .nav a:hover:after, .aside .nav a.active:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 5px;
  height: 100%;
  background: #8F00FF;
}

.aside .nav a:active {
  background: #fff;
}

.aside.bg-active {
  visibility: hidden;
  position: absolute;
  left: -100%;
  -webkit-transition: .1s;
  transition: .1s;
  width: 0;
}

.overview__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.graphics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.graphics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: #fff;
  padding: 27px;
}

.graphics__item canvas {
  width: 180px;
  height: 180px;
}

.graphics__price {
  display: block;
  font-weight: 700;
  font-size: 44px;
}

.graphics__price:before {
  content: '$';
}

.graphics__status {
  color: #b9b9b9;
  font-size: 22px;
  font-weight: 300;
}

.overview-calendar {
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 3;
}

.overview-calendar ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -100%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 1;
}

.overview-calendar i {
  color: #515151;
}

.overview-calendar i.ico-arr {
  font-size: 5px;
}

.overview-calendar i.ico-calendar {
  font-size: 16px;
}

.overview-calendar.active {
  background: #fff;
  z-index: 2;
}

.overview-calendar.active ul {
  left: 0;
  background: #fff;
  visibility: visible;
  opacity: 1;
  position: absolute;
  width: 100%;
  top: 96%;
  border: 1px solid #E5E5E5;
  z-index: -1;
}

.overview-calendar.active ul li {
  padding: 10px;
}

.overview-calendar.active ul li:hover {
  background: rgba(0, 0, 0, 0.2);
}

#demograph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

#demograph .demograph__img {
  width: 20%;
  height: auto;
}

.demograph-col {
  row-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.demograph-col .tit-h2 {
  font-weight: 600;
}

.demograph-col .block__item {
  row-gap: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.demograph-col .block__item .block-value {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

#sales {
  overflow: auto;
}

#sales table {
  display: table;
  min-width: 100%;
}

#sales table tr {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#sales table tr:after {
  content: '';
}

#sales table td, #sales table th {
  padding: 30px;
  font-size: 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#sales table td input[type="checkbox"], #sales table th input[type="checkbox"] {
  display: none;
}

#sales table td .checkbox, #sales table th .checkbox {
  cursor: pointer;
  width: 54px;
  height: 24px;
  background: #EBEBEB;
  border-radius: 5px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .1s;
  transition: .1s;
}

#sales table td .checkbox:after, #sales table th .checkbox:after {
  content: '';
  display: inline-block;
  background: #fff;
  width: 50%;
  height: 100%;
  border-radius: 4px;
  -webkit-transition: .1s;
  transition: .1s;
}

#sales table td .checkbox.active, #sales table th .checkbox.active {
  -webkit-transition: .1s;
  transition: .1s;
  background: #29BF6A;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#sales table .status {
  position: relative;
}

#sales table .status:before {
  content: '';
  display: block;
  width: 14px;
  height: 15px;
  background: #000;
  border-radius: 4px;
  margin-right: 8px;
  position: absolute;
  left: 0;
}

#sales table .status.red:before {
  background: #E64C4E;
}

#sales table .status.green:before {
  background: #30E330;
}

#sales table .status.orange:before {
  background: #FE9545;
}

@media (max-width: 1800px) {
  .demograph__img {
    display: none;
  }
  .demograph-col {
    width: 49%;
  }
}

@media (max-width: 1400px) {
  .graphics__price {
    font-size: 35px;
  }
  .aside {
    overflow: auto;
  }
  .blocks .block__item {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (max-width: 1300px) {
  .graphics__item {
    width: 45%;
  }
}

@media (max-width: 1200px) {
  .section-sales {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-sales .block__item {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .graphics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .graphics__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .wrapper {
        grid-template-areas: 'header header' 'main main';
    -webkit-transition: .2s;
    transition: .2s;
  }
  .wrapper.aside-hidden {
        grid-template-areas: 'header header' 'main main';
  }
  .aside {
    top: 60px;
    position: fixed;
    background: #fff;
    height: 100vh;
  }
  .aside .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .aside .nav a {
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 20px 30px 20px;
  }
  .aside .nav a i {
    color: #cccccc;
    font-size: 25px;
  }
  .aside .nav a:hover {
    -webkit-transition: .1s;
    transition: .1s;
    background: rgba(143, 0, 255, 0.2);
  }
  .aside .nav a:hover i {
    color: #8F00FF;
  }
  .aside .nav a:hover:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 5px;
    height: 100%;
    background: #8F00FF;
  }
  .aside .nav a:active {
    background: #fff;
  }
  .main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
    row-gap: 15px;
  }
  .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blocks .block.width_100 {
    width: 100%;
  }
  .blocks .block.width_50 {
    width: 100%;
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
}

@media (max-width: 500px) {
  .main {
    padding: 10px;
  }
  .main .block {
    padding: 10px;
  }
}
